/* 
Colors:
	pg1: #5E2697;
	pg2: #512182; (goBtn)
	pg3: #431B6C; 
	*/

	body {
		font-family: 'Open Sans', sans-serif;
	}

	.material-icons.md-60 { 
		/*next/previous in slider*/
		font-size: 60px; 
	}

	#play-left{
		-ms-transform: scaleX(-1); /* IE 9 */
		-webkit-transform: scaleX(-1); /* Safari 3-8 */
		transform: scaleX(-1);
	}

	.cont-caption {
		border: 2px solid red;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;

	}

	.cont-item {
		border: 2px solid blue;
	}

	.carousel-caption {
		border: 1px solid yellow;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: scaleX(-50%); /* IE 9 */
		-webkit-transform: scaleX(-50%); /* Safari 3-8 */
	}


	.navbar-container{
		border: 1px solid red;
		top: 50px;
		display: block;
		position: absolute;
		width: 100%;
		
		font-size: 0.85rem;

	}
	#navbarNav{
		
		z-index: 20; /*pasarlo al nav*/
	}


	.btn-nav{
		/*btns top and bottom in header*/
		width: 150px;
		margin-left: 30px;
		font-size: 0.85rem;
	}

	.link-pages{
		/*links to pages 1-2-3 in header*/
		/*border: 2px solid red ;*/

		margin-left: 35px;
		color: #f8f9fa; /*bootstrap light color*/

	}


	.link-pages:hover{	
		color: #b2b6ba; /*From Bootstrap */

	}

	.gobottom-container{
		/*For the slider only*/
		border: 1px solid green;
		position: absolute;
		bottom: 50px;
		width: 100%;
		text-align: center;
		z-index: 1; /*same level than next/previos slider btns*/ 
	}



	/*Sections Pages (Common)*/

	.page-title, .title_slide{
		font-size: 3rem;
	}

	.container-page{
		/*Allow '.pageX-title' has a top-margin with respect to this*/
		padding: 1px; 
	}

	.page-title{
		border: 1px solid white;
		margin-top: 100px;
	}

	.content-page{
		border: 1px solid blue;
		margin-top: 70px;
	}

	.gobottom-container-pages{
		border: 1px solid green;
		/*position: absolute;*/
		/*bottom: 50px;*/
		width: 100%;
		text-align: center;
		padding-top: 60px;
		padding-bottom: 50px;  
	}

	.btn-gobottom {
		padding: .8rem 3rem; /*Bootstrap overwrite*/
		color: white;
		font-size: 0.9rem;
		font-weight: bold;
		background-color: #542584;
		/*inset shadow, outset shadow*/
		-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.3),0px 1px 1px 1px rgba(67,27,108,1) ;
		-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.3), 0px 1px 1px 1px rgba(67,27,108,1);
		box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.3), 0px 1px 1px 1px rgba(67,27,108,1);
		
	}



	/* --------section Page 1--------------*/

	section#page1{
		background-color: #5E2697;
	}

	

	.input-container{
		border: 1px solid yellow;
	}

	.custom-dropdown::after {
		content: "\25BC";
		color: red;
	}


	.select {
		/*Combobox from: https://codepen.io/michmy/pen/jBQQpp*/
		position: relative;
		display: inline-block;
		/*margin-bottom: 15px;*/
		width: 150px;
		/*border: 1px solid red;*/

	}
	

	.select-input {
		/*Combobox from: https://codepen.io/michmy/pen/jBQQpp*/

		display: inline-block;
		width: 100%;
		cursor: pointer;
		padding: 10px 15px;
		outline: 0;
		border: 0;
		border-radius: 0;
		background: white;
		color: black;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		/*from */
		text-align-last: center;
		text-align: center;
		-ms-text-align-last: center;
		-moz-text-align-last: center;
		/*added:*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		
	}
	
	.select-input::-ms-expand{
		/*Combobox from: https://codepen.io/michmy/pen/jBQQpp*/
		display: none;
	}

	.select-input:hover, .select-input:focus{
		/*Combobox from: https://codepen.io/michmy/pen/jBQQpp*/
		color: black;
		background: white;
	}
	
	.select__arrow{
		/*Combobox from: https://codepen.io/michmy/pen/jBQQpp*/
		position: absolute;
		top: 16px;
		right: 15px;
		width: 0;
		height: 0;
		pointer-events: none;
		border-style: solid;
		border-width: 8px 5px 0 5px;
		border-color: #542584 transparent transparent transparent;
	}

	.form-content{
		border: 3px solid green;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 30px;

	}

	option span{
		text-align: center;
	}

	.console{
		background-color: #542584;
		padding: 10px 35px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.console-cont{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.instructions{
		border: 2px solid black;
		margin-top: 25px;
		font-weight: 300;

	}

	.instructions span{
		margin-bottom: 10px;
		display: block;
	}



	/* --------section Page 2--------------*/

	section#page2{
		background-color: #542584;
	}

	/* --------section Page 3--------------*/

	section#page3{
		background-color: #431B6C;
	}

	.container-card{
		border: 3px solid red;
	}

	.card{
		/*border: 3px solid red;*/
		width: 370px !important;  /*original img width*/
		padding: 0;
		border-radius: 0;
		border: 0;
		/*margin: auto; set in media queries*/
	}
	
	.card-img-top {
		/*width: 200px;*/
		width: 100%;
		border-radius: 0;
	}

	.card-text{
		text-align: center;
		color: rgba(94,38,135,0.5);

	}
	
	.card-body{
		padding: 35px 20px;
	}
	
	/* --------section Page 4 (Thank you page)--------------*/


	section#page4{
		background-color: #5E2697;
		height:100vh;
	}

	.thanks-page{
		position: relative;
		border: 3px solid black;
		height: 100%;
		/*border: 1px solid black;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;*/
	}

	.thanks-page h1 {
		border: 1px solid white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/*transform: translateY(-50%);*/
		/*-ms-transform: scaleX(-50%); 
		-webkit-transform: scaleX(-50%); */
	}

	.goBtn-page4{
		position: absolute;
		bottom: 0;
	}